<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtA7gmxbqDoH6i8DRg72UkMOe0v3nPeIA</string>
	<key>GCM_SENDER_ID</key>
	<string>862790979805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>antisocial-92c6b</string>
	<key>STORAGE_BUCKET</key>
	<string>antisocial-92c6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862790979805:ios:ff52ecb7ee2c674c01cb34</string>
</dict>
</plist>